/* Mainpage */
body{
  background-color: #cd92c0;
}

/* Style page content */
.navbar{
  max-height: 50px;
  background-color: aquamarine;
}

img{
  width:100% !important;
  height:100% !important;
}

.vizualization{
  width:50% !important;
  height:50% !important;
}

